IP_SERVER=0.0.0.0 # IP del servidor de desarrollo de 4D
IP_PORT=1111 # Puerto del servidor de desarrollo de 4D
PORT=3000 # Puerto en el que se ejecuta la aplicación Node.js
ACCESS_TOKEN_SECRET=secret123 # Clave secreta para la generación de tokens de acceso

#Base de datos geotab
DB_HOST=0.0.0.0
DB_DATABASE=geotab
DB_USER=user
DB_PASSWORD=password
DB_PORT=1111